@model ReporteTransaccionesDetalladas


<h4>
    <a asp-route-mes="@ViewBag.mesAnterior" asp-route-anio="@ViewBag.anioAnterior" class="btn btn-secondary">
        <i class="bi-chevron-left"></i>
    </a>
    @Model.Fechainicio.ToString("MMM") - @Model.Fechainicio.Year

    <a asp-route-mes="@ViewBag.mesPosterior" asp-route-anio="@ViewBag.anioPosterior" class="btn btn-secondary">
        <i class="bi-chevron-right"></i>

    </a>
</h4>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div class="activo">
            @Model.BalanceDepositos.ToString("N")
        </div>
    </div>

    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="pasivo">
            @Model.BalanceRetiros.ToString("N")
        </div>
    </div>

    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div class="activo">
            @Model.Total.ToString("N")
        </div>
    </div>
</div>

@if (Model.TransaccionesAgrupadas.Count() == 0)
{
    <h5>No hay datos para mostrar</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var transaccionAgrupada in Model.TransaccionesAgrupadas)
            {
                <tr style="background-color:lightblue; font-size:26px">
                    <td colspan="3">
                        @transaccionAgrupada.FechaTransaccion.Day
                        <span class="badge bg-secondary">
                            @transaccionAgrupada.FechaTransaccion.ToString("ddd")
                        </span>
                    </td>
                    <td class="activo">@transaccionAgrupada.BalanceDepositos.ToString("N")</td>
                    <td class="pasivo">@transaccionAgrupada.BalanceRetiros.ToString("N")</td>
                </tr>
                @foreach (var transacion in transaccionAgrupada.Transacciones)
                {
                    <tr style="vertical-align:middle">
                        <td>
                            <a asp-controller="Transacciones" asp-action="Editar" asp-route-id="@transacion.Id" asp-route-urlRetorno="@ViewBag.urlRetorno">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transacion.Categoria</td>
                        <td>@transacion.Cuenta</td>
                        <td class="activo">@(transacion.TipoOperacionId == TipoOperacion.Ingreso ? transacion.Monto.ToString("N") : null)</td>
                        <td class="pasivo">@(transacion.TipoOperacionId == TipoOperacion.Gasto ? transacion.Monto : null)</td>

                    </tr>
                }
            }
        </tbody>

    </table>
}
